{% extends 'catalog/base.html' %}
{% block content %}
<div class="container">
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <p>{{ object.name }}</p>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ object.price }}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ object.description | truncatechars:100 }} </li>
                    </ul>
                    </div>
                    <div>
                        {% if object.versions.exists %}
                        <p>Версия {{ object.name_version }}</p>
                        <p>Номер версии {{ object.number_version }}</p>
                        {% endif %}
                    </div>
                    <a type="button" href="{% url 'catalog:card' pk=object.pk %}" class="btn btn-lg btn-block btn-outline-primary">Просмотр</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}