{% extends 'catalog/base.html' %}
{% block content %}
<div class="container">
    <div class="row text-center">
        {% for object in products %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <p>{{ object.name }}</p>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ object.price }}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ object.description | truncatechars:100 }} </li>
                    </ul>
                    </div>
                    {% if object.versions.all %}
                    {% for version in object.versions.all %}
                    <div>
                        <p>Версия {{ version.name }}</p>
                        <p>Номер версии {{ version.number }}</p>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <a type="button" href="{% url 'catalog:card' pk=object.pk %}" class="btn btn-lg btn-block btn-outline-primary">Просмотр</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}