{% extends 'catalog/base.html' %}
{% block content %}
<div class="container">
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h3>{{ object.name }}</h3>
                <div class="card-body">
                    <li class="card-title pricing-card-title">Цена {{ object.price }}</li>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>Описание: {{ object.description | truncatechars:100 }} </li>

                        <li> Почта продавца: {{ object.owner | default:"Нет продавца" }} </li>

                    </ul>
                    </div>
                    <div>
                        {% if object.versions.exists %}
                        <p>Версия {{ object.name_version }}</p>
                        <p>Номер версии {{ object.number_version }}</p>
                        {% endif %}
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'catalog:card' object.pk %}" class="btn btn-sm btn-outline-secondary">Просмотр</a>
                            {% if user.group == moderator or user == product.owner %}
                                <a href="{% url 'catalog:product_update' object.pk %}" class="btn btn-sm btn-outline-secondary">Редактирование</a>
                            {% endif %}
                            <a href="{% url 'catalog:product_delete' object.pk %}" class="btn btn-sm btn-outline-danger">Удаление</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}